<p id="notice"><%= notice %></p>
<% content_for :title, @status.content %>

<p>
  <strong>Content:</strong>
  <%= @status.content %>
</p>
<%= image_tag @status.status_image.url %>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
<%= button_to 'Add view', add_view_status_path, method: :post %>